*

!.gitignore
!.gitmodules
!INSTALL
!README.md
!TODO
!welcome.conf
!bash
!bash/*
!git
!git/*
!nvim
!nvim/*
!nvim_custom
!nvim_custom/**
!readline
!readline/*
!tmux
!tmux/*
tmux/plugins/*
!tmux/plugins/tpm

